@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

* {
	margin: 0px;
	padding: 0px;
}
body { 
	width: 100%;
	height: 100vh;
	overflow: hidden;	/* 자식 콘텐츠가 브라우저 영역에서 벗어나도 스크롤 바 생성안하게*/
	animation: sky linear 20s infinite;
}
h1 { 
	width: 1000px; 
	position: absolute; /* 화면 가운데에서 살짝 아애로 내려가게 생성*/
	top: 50%; 
	left: 50%; 
	transform: translate(-50%,150%);	
	font: 92px/1 "Poiret one"; 
	color: #fff;
	text-align: center; 
	animation: day linear 20s infinite;
}
section { 
	width: 1000px; 
	height: 400px; 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%,-70%); 
}
section .sky {
	position: absolute; 
	width: 100%; 
	height: 100%;
}
section .sky .sun {
	position: absolute; 
	top: -150px; /* section위쪽에서 더 위로 배치*/
	left: 50%; 
	margin-left: -100px; 
	transform-origin: center 500px; /* transform-origin :  변환된 요소의 위치를 변경 & 태양 이미지 중심축 */ 
	animation: sun linear 20s infinite;
}
section .sky .cloud1 {
	position: absolute; 
	top: -30px; 
	left: 10%; 
	animation: flow linear 10s infinite;
}
section .sky .cloud2 {
	position: absolute; 
	top: 20px; 
	left: 0%; 	
	animation: flow linear 20s infinite;
}
section .town .night { 
	position: absolute; 
	bottom: 0px; 
	left: 40px;
}
section .town .day { 
	position: absolute; 
	bottom: 0px; 
	left: 40px;
	animation: day linear 20s infinite;
}
section .town .circle {
	position: absolute; 
	bottom: 104px; 
	left: 50%; 
	margin-left: -165px; 
	opacity: 0.7; /*맨 뒤에 위치하는 요소 투명도조정*/
	animation: rotation linear 20s infinite; /* rotation 적용(rotate사용)*/	
}
section .people {	
	width: 100%; 
	height: 100%; 
	position: absolute; 
	top: 0px;
	left: 0px;
	animation: day linear 20s infinite;	
}
section .people .man {
	position: absolute;
	left: 0%;
	bottom: 0px;
	animation: flow linear 7s infinite;
}
section .people .family {
	position: absolute;
	left: 0%;
	bottom: 0px;
	animation: flow linear 20s infinite;
}
/* 회전 */
@keyframes rotation {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);} /* 360도 회전*/
}

/* 하늘 변경 */
@keyframes sky {
	0% {background-color: #b08fcc;}
	25% {background-color: #b1e1e2;}
	50% {background-color: #fcd2e2;}
	75% {background-color: #636888;}
	100% {background-color: #b08fcc;}
}
/* 태양 회전 */
@keyframes sun {
	0% {opacity:0; transform: rotate(-90deg);}
	25% {opacity:1; transform: rotate(-30deg);}
	50% {opacity:1; transform: rotate(30deg);}
	75% {opacity:0; transform: rotate(90deg);}
	100% {opacity:0; transform: rotate(-90deg);}
}
/* 밤에 투명도를 조정하여 특정요소 숨기기 */
@keyframes day {
	0% {opacity: 0;}
	25% {opacity: 1;}
	50% {opacity: 1;}
	75% {opacity: 0;}
	100% {opacity: 0;}
}
/* 사람과 구름을 오른쪽으로 이동 
	flow 사용하여 좌에서 우로 끝까지 이동하여 사라지면 다시 나타남 */
@keyframes flow {
	0% { left: 0%; opacity: 0;}
	10% { opacity: 1; }
	80% { opacity: 1; }
	100% { left: 90%; opacity: 0;}
}















